<div class="footer">
    <div>
        <p>Contact Us</p>
        <i class="fas fa-phone-volume"></i><p>Telephone +46 073 721 3397</p>
        <p>Address: Limhansvägen 85, 21618, Limhamn</p>
        <i class="fas fa-envelope"></i>
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-twitter-square"></i>
    </div>

</div>
