<div class="footer">
    <div>
        <p>Contact Us</p>
        <p>Telephone +46 073 721 3397</p>
        <p>Address</p>
        <p>email</p>
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-twitter-square"></i>
    </div>

</div>
