<div class="header">
    <img id="main-logo"src ="mrc.jpg"/>
    <div class="name-div">
        <h1 id="name">MALMÖ RUGBY CLUB</h1>

    </div>
    <div class="logo-div">
        <img id="runlogo"src="runlogo.png"/>
    </div>
</div>
