<nav class="navbar">
  <div class="nav-div">
      <ul>
         <li><a href="#">HOME</a></li>
         <li><a target="_blank" rel="noopener noreferrer" href="http://www.rugby.se/">NEWS</a></li>
         <li><a target="_blank" rel="noopener noreferrer" href="teamvideo.mp4">TEAM</a></li>
         <li><a target="_blank" rel="noopener noreferrer"href="/fixtures">FIXTURES</a></li>
         <li><a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=O201WHQLe9o">VIDEOS</a></li>
         <li><a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Rugby_union">ABOUT RUGBY</a></li>
         <li><a target="_blank" rel="noopener noreferrer" href="/player">PLAYER PROFILE</a></li>
         <li><a target="_blank" rel="noopener noreferrer" href="/players">PLAYER STATS</a></li>
         <li><a target="_blank" rel="noopener noreferrer" href="/login">LOG OUT</a></li>
         <li><a target="_blank" rel="noopener noreferrer" href="https://mrc-shop1.webnode.se/produkter/">SHOP</a></li>
      </ul>
  </div>
</nav>
<div class="images-div">

       <div class="images">
           <img src="rugbypic2.png">
       </div>
       <div class="images">
           <img src="rugbypic3.png">
       </div>
       <div class="images">
           <img src="rugbypic4.png">
       </div>
       <div class="images">
           <img src="rugbypic5.png">
       </div>
       <div class="images">
           <img src="rugbypic6.png">
       </div>
       <div class="images">
           <img src="rugbypic7.png">
       </div>

       <div class="images">
           <img src="rugbypic10.png">
       </div>
       <div class="images">
           <img src="rugbypic11.png">
       </div>
       <div class="images">
           <img src="rugbypic12.png">
       </div>
       <div class="images">
           <img src="rugbypic13.png">
       </div>
       <div class="images">
           <img src="rugbypic14.png">
       </div>
       
   </div>
