<nav class="navbar">
  <div class="nav-div">
      <ul>
         <li><a href="#">HOME</a></li>
         <li><a href="#">NEWS</a></li>
         <li><a href="https://www.facebook.com/elpaupe/videos/10212005252428264/">TEAM</a></li>
         <li><a href="#">FIXTURES</a></li>
         <li><a href="https://www.youtube.com/watch?v=O201WHQLe9o">VIDEOS</a></li>
         <li><a href="https://en.wikipedia.org/wiki/Rugby_union">ABOUT RUGBY</a></li>
      </ul>
  </div>
</nav>
<div class="images-div">
       <div class="images">
           <img src="rugbypic1.png">
       </div>
       <div class="images">
           <img src="rugbypic2.png">
       </div>
       <div class="images">
           <img src="rugbypic3.png">
       </div>
       <div class="images">
           <img src="rugbypic4.png">
       </div>
       <div id="dotmenu">
           <div id="dot1"class="dot blue"></div>
           <div id="dot2"class="dot"></div>
           <div id="dot3"class="dot"></div>
           <div id="dot4"class="dot"></div>
       </div>
   </div>
