<nav class="navbar">
  <div class="nav-div">
      <ul>
         <li><a href="#">HOME</a></li>
         <li><a href="#">NEWS</a></li>
         <li><a href="#">TEAM</a></li>
         <li><a href="#">FIXTURES</a></li>
         <li><a href="#">VIDEO</a></li>
         <li><a href="#">ABOUT RUGBY</a></li>
      </ul>
  </div>
</nav>
<div class="images-div">
       <div class="images">
           <img src="rugbypic1.png">
       </div>
       <div class="images">
           <img src="rugbypic2.png">
       </div>
       <div class="images">
           <img src="rugbypic3.png">
       </div>
       <div class="images">
           <img src="rugbypic4.png">
       </div>
       <div id="dotmenu">
           <div id="dot1"class="dot blue"></div>
           <div id="dot2"class="dot"></div>
           <div id="dot3"class="dot"></div>
           <div id="dot4"class="dot"></div>
       </div>
   </div>
