<div class="login-div">
    <div class="login-mini">
        <form method="post">
            <input class="input"type="text" name="email" placeholder="email">
            <input class="input"type="text" name="password" placeholder="password">
            <button id="Lbutton"class="button"type="submit" name="register">LOGIN</button>
            <input name="_csrf" value="{{csrfToken}}" type="hidden"> <!-- security feature -->
        </form>

        {{#if error}} There was an error{{/if}}
    </div>

</div>
