<div class="Player-main-div">
   <div  class="player-image-div">
       <div class="player-image">

       </div>
   </div>
   <div class="profile-info">
       <div class="names-div">
           <h1 id="names">PLAYER PROFILE:</h1>
           <div class="props">
               <h2>Firstname: Kudzai</h2>
           </div>
           <div class="props">
               <h2>Lastname:Nyakunu</h2>
           </div>
           <div class="props">
               <h2>Nickname: Bhuru ("The Bull")</h2>
           </div>
           <div class="props">
               <h2>Position: Center</h2>
           </div>
           <div class="props">
               <h2>Weight: 90kg</h2>
           </div>
           <div class="props">
              <h2>Age: 35</h2>
           </div>
           <div class="props">
               <h2>Country: Zimbabwe/Sweden</h2>
           </div>
    </div>
</div>

















   </div>

</div>
