.header {
    text-align: center;
    width: 100%;
    display: flex;
    background-color: rgb(33, 32, 34);
}

.footer {
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    font-size: 20px;
    width: 100%;
    height: 200px;
    background-color: rgb(33, 32, 34);
}
.registration {
    align-items: center;
    height: 800px;
    background-image: url("MRC.png");
    background-position: center;
    background-size: cover;
}

.regform {
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.7;
    align-items: center;
    width: 50%;
    margin: auto;
    height: 400px;
}
.register {
    text-align: center;
    color: white;
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
    text-shadow: black 4px 4px;
    width: 100%;
    height: 100%;
    border: solid 1px black;
}
.input {
    border: black 1px solid;
    border-radius: 15px;

    margin: auto;
    display: block;
    height: 40px;
    background: #0040ff;
    margin-bottom: 30px;
    margin-top: 30px;
}
.button {
    border-radius: 5px;
    height: 40px;
    width: 85px;
    box-shadow: black 2px 2px;
}
.name-div {
    height: 100%;
    width: 100%;
    text-align: center;
    height: 100%;
}
#name {
    font-size: 50px;
    font-family: serif;
    text-shadow: white 4px 4px;
}
#runlogo {
    border: solid black 1px;
    position: relative;
    float: right;
}
.logo-div {
    width: 100%;
}
.navbar {
    height: 80px;
    width: 100%;
    background-color: black;
    border: solid white 1px;
}
.nav-div {
    text-align: center;
    font-size: 25px;
    height: 60px;
    width: 100%;
    background-color: rgb(18, 18, 18);
    border: solid white 1px;
}
.images-div {
    height: 600px;
    position: relative;
    overflow: hidden;
    /* display: inline;
    height: 300px;
    border: dotted black 2px;
    background-color: silver; */
}
.images {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    height: 100%;

    transition-property: "transform";
    transition-duration: 0s;
    /* width: 400px;
    height: 350px; */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: rgb(0, 155, 231);
}
.active {
    background-color: #4caf50;
}
////////////////////////////////////////////////////////////

#dotmenu {
    display: flex;
    position: absolute;
    justify-content: space-between;
    bottom: 10%;
    left: 45%;
    bottom: 20px;
    height: 20px;
    width: 110px;
}
.dot {
    display: inline-block;
    border: 2px white solid;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: transparent;
}
.blue {
    background: blue;
}

/* .images.onscreen {
    transform: translateX(0);
    transition-duration: 1s;
}

.images.exit {
    transform: translateX(-100%);
    transition-duration: 1s;
} */

.images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
/* ////////Player Profile//////////////////////////////////////////////////////// */

.Player-main-div {
    height: 800px;
    background-image: url("backgroundpic2.png");
    background-size: cover;
}
.player-image-div {
    height: 300px;
    background: black;
    border: solid white 1px;
    opacity: 0.3;
}
/* .player-image {
    width: 33%;
    margin: auto;
    height: 300px;
    background-color: #ffffff;
    border: black 1px solid;
    opacity: 0.7;
} */
.profile-info {
    border-radius: white 1px solid;
    height: auto;
}
#names {
    text-shadow: black 4px 4px;
    font-family: Helvetica Neue;
    color: white;
    margin: auto;
}
.names-div {
    width: 50%;

    border: 1px white solid;
    border-radius: 15px;
}
.props {
    text-shadow: black 4px 4px;
    color: silver;
    font-family: fantasy;
    font-size: 25px;
    height: 60px;
    display: flex;
}
.login-div {
    border: black 1px solid;
    background-image: url("rugbyball.png");
    height: 400px;
    align-items: center;
    background-position: center;
    background-size: cover;
}
.login-mini {
    display: flex;
    border: white 1px solid;
    justify-content: center;
    background-color: black;
    opacity: 0.7;
}
#Lbutton {
    position: relative;
    left: 34px;
}
/* <-----Fixtures page------> */

.fixtures-div {
    border: black 1px solid;
    background-image: url("./fixtures.png");
    width: 100%;
    height: 800px;
    align-items: center;

    background-size: cover;
}
.players-div {
    height: 400px;
    background-color: silver;
}
